body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.login-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.login-form-label-field {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login-form-label-field:hover,
.login-form-label-field:focus {
  border: 1px solid #000;
}

.text-input {
  width: 360px;
  height: 80px;
  resize: none;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-input:hover,
.text-input:focus {
  border: 1px solid #000;
}

.login-form-label-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.login-form-label-btn:hover,
.login-form-label-btn:focus {
  background-color: #6c8cff;
}
